@charset "UTF-8";

@import"palette.scss";

// $twilight: rgba(19, 41, 61, 1);
// $ocean: rgba(0, 100, 148, 1);
// $teal: rgba(36, 123, 160, 1);
// $sky: rgba(27, 152, 224, 1);
// $soft_white: rgba(232, 241, 242, 1);
// font-family: 'Josefin Sans', sans-serif;


body {

    min-height: 1200px;

//     .bg-ocean {

//     background-color: rgba(0, 100, 148, 1);

//    }

}
.code_space_style {

    width: inherit;
}



.code-hero {

    background-image: url("../img/code_banner.jpg");
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    height: 24rem;
    width: 100%;

    .hero_title {

        text-align: center;
        padding-top: 8rem;
        color: #ffffff;
        font-size: 3.4rem;

    }

}

.jumbotron {
    margin-bottom: auto;
}

.card_snippet_title {

     font-family: 'Josefin Sans', sans-serif;
     font-size: 3rem;
     color: $ocean;

}

.code_style_title {

    color: $ocean;
}

.small_top {

    margin-top: 3rem;
}

.medium_top {

    margin-top: 5rem;
}

.large_top {

    margin-top: 8rem;
}

.padding-left {

    padding-left: 15rem;
}

.snippet_card_style {

    margin-left: 3rem;
    margin-right: 3rem;
}


.small_bottom {

    margin-bottom: 3rem;
}

.medium_bottom {

    margin-bottom: 5rem;
}

.large_bottom {

    margin-bottom: 8rem;
}