@charset "UTF-8";

@import"palette.css";

// $twilight: rgba(19, 41, 61, 1);
// $ocean: rgba(0, 100, 148, 1);
// $teal: rgba(36, 123, 160, 1);
// $sky: rgba(27, 152, 224, 1);
// $soft_white: rgba(232, 241, 242, 1);


body {

    min-height: 1200px;

    .bg-ocean {

    background-color: rgba(0, 100, 148, 1);

   }

}


.code-hero {

    background-image: url("../img/code_banner.jpg");
    background-size: cover;
    height: 3rem;
    width: 100%;

    .hero_title {

        text-align: center;
        padding-top: 14rem;
        color: #ffffff;

    }

}


.small_top {

    margin-top: 3rem;
}

.medium_top {

    margin-top: 5rem;
}

.large_top {

    margin-top: 8rem;
}